.box {
  border: 3px solid black;
  display: table;
  collapse-border: collapse;
}

.pixel {
  float: left;
  border: 1px solid grey;
  height: 20px;
  width: 20px;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
}

.rows {
  margin-bottom: 0px;
  margin-top: 0px;
  clear:both;
}

.active {
  background-color: black;
}

.food {
  background-color: green;
}

.gameover {
  margin-left: 300px;
  display: none;
}

.overlap {
  background-color: red;
}

.restart {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}
