@font-face {
 font-family:'digital-clock-font';
 src: url('digital-7.ttf');
}


body {
  background-color: #8594ad;
}


.box_container {
  margin: 100px auto 0px auto;
  position: relative;
  width: 610px;
  height: 400px;
}

.title {
  position: absolute;
  left: 10px;
  top: -20px;
  font-family: 'Lato', sans-serif;
  color: #adc9f7;
}


.score {
  font-family:'digital-clock-font';
  position: absolute;
  right: -70px;
  top: -20px;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 36px;
}


.box {
  display: table;
  collapse-border: collapse;
  margin: 0px auto;
  background-color: white;
}

.gameover, .instructions {
  margin: auto;
  color: #adc9f7;
  font-size: 18px;
  text-align: center;
}

.gameover {
  display: none;
}

.pixel {
  float: left;
  height: 20px;
  width: 20px;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
}

.rows {
  margin-bottom: 0px;
  margin-top: 0px;
  clear:both;
}

.active {
  background-color: #adc9f7;
}

.food {
  background-color: white;
  border: 1px solid #adc9f7;
}

.overlap {
  background-color: #3b475b;
}

.restart {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}
